.root {
  .search {
    display: flex;
    :global {
      .ant-input {
        // display: inline-block;
        width: 160px;
        margin-right: 1rem;
      }
    }
  }
  .content {
    margin-top: 1rem;
  }
  :global {
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 240px;
      padding: 16px 8px;
    }
    .ant-table-body {
      overflow-x: auto;
    }
    .ant-table-thead > tr > th .anticon-filter {
      right: auto;
    }
    .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td[rowspan] {
      background: yellow!important;
    }
  }
}
.tip {
  a {
    color: @primary-color;
    cursor: pointer;
  }
}
